---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
// Assets
import BgGrid from "@/components/assets/BgGrid.astro";
---

<section class="border-white/20 border-b">
  <div class="bg-grid p-8 relative">
    <BgGrid />

    <h1
      class="text-white tracking-tighter font-black uppercase text-3xl lg:text-8xl relative"
    >
      <span class="block">Same articles.</span>
      <span class="block">Same research papers.</span>
      <span class="block">Just more brainrot.</span>
    </h1>
  </div>
  <Banner />
  <Testimonials />
</section>
