---
const testimonials = [
  {
    text: "I read all of my CS lectures like this and I now have a chad-level understanding of transformer architectures.",
    author: "John",
    title: "Hopefully Graduating This Year",
  },
  {
    text: "This is chill, Microsoft Copilot def doesn't do this.",
    author: "Alex",
    title: "Business Management, Omega Phi Tau",
  },
  {
    text: "I can now participate in adult conversations about current events.",
    author: "Gabby",
    title: "Not Political, Gets News From Instagram",
  },
  {
    text: "AI just changed the game forever. Teachers are next.",

    author: "James",
    title: "AI Evangelist, Linkedin Course Guru",
  },
];
---

<div class="text-xs gap-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 p-8">
  {
    testimonials.map((item) => (
      <figure class="flex flex-col justify-between h-full">
        <blockquote class="font-normal text-eagle">{item.text}</blockquote>
        <figcaption class="mt-3 not-italic">
          <span class="block font-semibold mt-3 text-white">{item.author}</span>
          <cite class="block text-eagle not-italic">{item.title}</cite>
        </figcaption>
      </figure>
    ))
  }
</div>
