<footer class="border-white/20 border-t">
  <div class="p-8 flex flex-col md:flex-row items-center justify-between gap-4">
    <span class="text-white/40 text-xs uppercase font-black">RabbitHole</span>
    <div class="flex gap-6">
      <a href="/privacy-policy" class="text-white/40 hover:text-white text-xs uppercase font-black transition duration-200">Privacy Policy</a>
      <a href="/terms-and-conditions" class="text-white/40 hover:text-white text-xs uppercase font-black transition duration-200">Terms & Conditions</a>
      <a href="/system-requirements" class="text-white/40 hover:text-white text-xs uppercase font-black transition duration-200">System Requirements</a>
    </div>
  </div>
</footer>
