<div class="border-white/20 border-b justify-center w-full">
  <div
    class="text-center items-center w-full gap-2 flex flex-col justify-between md:p-8 md:flex-row"
  >
    <a
      href="/"
      class="text-white font-black uppercase tracking-tight p-4 md:p-0"
      ><span>RabbitHole</span>
    </a>
    <a
      href="/#pricing"
      class="w-full bg-orange duration-200 font-black hover:bg-white hover:text-black lg:w-fit px-6 py-4 sm:rounded-full text-white text-center text-xs uppercase"
    >
      Get Access
    </a>
  </div>
</div>
